<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated grrbac -->
      <package
            uri="https://vanderhighway.com/grrbac/2020"
            class="com.vanderhighway.grrbac.model.grrbac.model.GRRBACPackage"
            genModel="model/grrbac.genmodel"/>
   </extension>

</plugin>
